Repository kubernetes-sigs/structured-merge-diff, pull requests merged in 2020-11, with the labels that each got.

#179 Default keys float and int
  internal/fixture/state.go
  merge/default_keys_test.go
  typed/validate.go
Labels: approved, cncf-cla: yes, lgtm, size/M

#173 Fix panic on pointer to embedded struct
  value/reflectcache.go
  value/valuereflect_test.go
Labels: approved, cncf-cla: yes, kind/bug, lgtm, ok-to-test, priority/important-soon, size/S

#180 Cherry pick of #173: Fix panic on pointer to embedded struct
  value/reflectcache.go
  value/valuereflect_test.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/S
