Repository kubernetes-sigs/structured-merge-diff, pull requests merged in 2021-04, with the labels that each got.

#192 Unsupport atomic to granular schema reconciliation
  merge/schema_change_test.go
  typed/reconcile_schema.go
  typed/reconcile_schema_test.go
Labels: approved, cncf-cla: yes, lgtm, needs-ok-to-test, size/L

#188 Extract items should only extract the exact paths it is supplied
  merge/extract_apply_test.go
  typed/remove.go
  typed/remove_test.go
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/XL

#193 Add jpbetz as reviewer to OWNERS
  OWNERS
Labels: approved, cncf-cla: yes, lgtm, size/XS
